<div>
    {{#with program}}
    {{#with excursion}}
    <br><br>
    <h1>{{name}}</h1>
    <br><br><hr><br>
    <h3>Location:</h3>
    <div>
        {{#with location}}
        <div><b>{{city}}, {{country}}</b></div>
        {{/with}}
    </div>
    <br>
    <div>Date: <em>{{date}}</em></div>
    <div>
        <ul>
            {{#each program}}
            <li>
                <h2>{{name}}</h2>
                <h3>{{type}}</h3>
                <em>Duration {{duration}} day's</em>
                {{#with details}}
                    {{#with museum}}
                        <h3>{{name}}</h3>
                        {{#with location}}
                        <em>{{address}} / {{city}} / <strong>{{country}}</strong></em>
                        {{/with}}
                        <ol>
                        {{#each exhibits}}
                            <li>
                                <h4>{{name}}</h4>
                                <strong>{{artist}}</strong>
                                <p>{{description}}</p>
                                {{#if audio_guide}}
                                <p><em>Tour with <b>audio guide</b></em></p>
                                {{/if}}
                            </li>
                        {{/each}}
                        </ol>
                    {{/with}}
                    {{#with guide}}
                    <em><b>{{name}}</b> - {{language}} - rating: {{rating}}*</em>
                    {{/with}}
                {{/with}}
                {{#with details}}
                    {{#with venue}}
                        <h3>{{name}}</h3>
                            {{#with location}}
                            <em>{{address}} / {{city}} / <strong>{{country}}</strong></em>
                            {{/with}}
                        <ul>
                        {{#each perfomers}}
                            <li>
                            <h5>{{name}}</h5>
                            <p>{{type}}</p>
                            </li>
                        {{/each}}
                        </ul>
                        {{#with guide}}
                        <em><b>{{name}}</b> - {{language}} - rating: {{rating}}*</em>
                        {{/with}}
                    {{/with}}
                {{/with}}
                
            </li>
            {{/each}}
        </ul>
    </div>
    {{/with}}
    {{/with}}
</div>