<div class="card">
{{#with navigation}}
<div class="nav">
    {{#each links}}
    <div class="nav-item">
        {{#unless href}}
            <a href="#" class="nav-link disabled">{{text}}</a>
        {{else}}
            {{#if dis}}
                <a class="nav-link disabled" href="{{href}}">{{text}}</a>
            {{else}}
                <a class="nav-link" href="{{href}}">{{text}}</a>
            {{/if}}
        {{/unless}}
    </div>
    {{/each}}
</div>
{{/with}}
</div>